<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de atividades</title>
</head>
<body>
    <h1>Atividades</h1>
    {% for atividade in atividades %}
        <p>°° {{ atividade.nome }} <br>
            ° {{ atividade.descricao }} <br>
            
            <a href="{% url 'atividades-detalhes' atividade.id %}">mais...</a>
        </p>
    {% endfor %}
    <a href="{% url 'atividades-forms' %}">criar atividade</a>
</body>
</html>